---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Header from './Header.astro';
import Footer from './Footer.astro';
import GoogleAnalytics from './GoogleAnalytics.astro';

interface Props {
    title: string;
    description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es"> <head>
        <script is:inline>
            // Agregué 'is:inline' para asegurar ejecución inmediata
            document.documentElement.dataset.lang = (localStorage.getItem('site-lang') || 'es');
        </script>
        
        <GoogleAnalytics />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/images/Favicon.png" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <meta name="description" content={description} />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content="https://www.thegatosamurai.dev/images/Portafolio.png" />
        
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:type" content="website">
        
    </head>
    <body class="px-4">
        <div class="background"></div>
        <Header />
        <slot />
        <Footer/>
    </body>
</html>

<style is:global>
    :root {
        color-scheme: dark; 
    }
    html {
        scroll-behavior: smooth;
        font-family: "Onest Variable", system-ui, sans-serif;
    }

    body{
        background: #000;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        position: relative;
    }
    
    .background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
    } 

    @media (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
</style>